<div class="alert alert-dark" role="alert">
  <h3>
  Enter the form <strong>X | 5/ | 9- </strong>
  </h3>
</div>

<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :frame_1 %>
        <%= form.text_field :frame_1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :frame_2 %>
        <%= form.text_field :frame_2, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :frame_3 %>
        <%= form.text_field :frame_3, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :frame_4 %>
        <%= form.text_field :frame_4, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :frame_5 %>
        <%= form.text_field :frame_5, class: "form-control" %>
      </div>

    </div>
    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :frame_6 %>
        <%= form.text_field :frame_6, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :frame_7 %>
        <%= form.text_field :frame_7, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :frame_8 %>
        <%= form.text_field :frame_8, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :frame_9 %>
        <%= form.text_field :frame_9, class: "form-control" %>
      </div>

    <div class="form-group">
      <%= form.label :frame_10 %>
      <%= form.text_field :frame_10, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
</div>
<% end %>
