<p id="notice"><%= notice %></p>

<p>
  <strong>Frame 1:</strong>
  <%= @score.frame_1 %>
</p>

<p>
  <strong>Frame 2:</strong>
  <%= @score.frame_2 %>
</p>

<p>
  <strong>Frame 3:</strong>
  <%= @score.frame_3 %>
</p>

<p>
  <strong>Frame 4:</strong>
  <%= @score.frame_4 %>
</p>

<p>
  <strong>Frame 5:</strong>
  <%= @score.frame_5 %>
</p>

<p>
  <strong>Frame 6:</strong>
  <%= @score.frame_6 %>
</p>

<p>
  <strong>Frame 7:</strong>
  <%= @score.frame_7 %>
</p>

<p>
  <strong>Frame 8:</strong>
  <%= @score.frame_8 %>
</p>

<p>
  <strong>Frame 9:</strong>
  <%= @score.frame_9 %>
</p>

<p>
  <strong>Frame 10:</strong>
  <%= @score.frame_10 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @score.total %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
